{% extends 'base/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}

<style>
	body {
		background: linear-gradient(to right, rgb(135, 78, 209), rgb(95, 46, 185), rgb(50, 45, 112));
	    display:flex; 
        align-items: center;
        justify-content: center;
        min-width: 100vw; 
        min-height:100vh; 
        overflow-x:hidden; 
	}

	.container {
		padding: 0;
		display: flex;
		border-radius: 15px;
		margin-top: 80px;
		margin-bottom: 80px;
		width: 850px;
		height: 430px;
		background: url("../media/images/darkBlue3.jpg");

	}

	.container-child-left {
		display:flex; 
        justify-content: center; 
        align-items:center ;
        background: transparent;
        width: 42%;
	}


	.container-child-right {
		background-color: white;
        width: 58%;
        border-radius: 0 15px 15px 0;
        margin:0; 
        display:flex; 
        justify-content: center; 
        align-items:center ;
		padding:20px; 
	}

	.login-contents {
		margin:auto ; 
        
	}

	#heading {
		font-size: 24px;
	}

	.label {
		background: rgb(221, 221, 221);
		width: 85px;
		text-align: center;
		border-radius: 5px 0 0 5px;
		margin: 0;
		padding:3px;
		display:flex; 
        align-items: center;
        justify-content: center;
	}

	.btn {
		width: 150px;
		margin-top: 10px;
		font-family: Arial, Helvetica, sans-serif;
		letter-spacing: 0.5px;
		background-color: rgb(95, 95, 202);
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.form-control {
		border-radius: 0 5px 5px 0;
		width: 270px
	}

	.input-username-password {
		height: 38px;
		width: 250px;
		border-radius: 0 5px 5px 0;
		border: 1px solid rgb(221, 221, 221);
		padding-left: 10px;
		outline: none;
	}

	.input-field {
		overflow: hidden;
        display: flex;
        height:100%; 
	}

	.btn-primary{
		display:flex; 
		align-items: center;
		justify-content: center;
	}
	.forgot-pass {
		/* transform: translate(80px, 16px); */
	}

	@media only screen and (max-width: 760px) {
		.container {
			margin:0; 
            height: 80vh;
            width: 80vw;
            flex-wrap: wrap;
		}

		.container-child-left {
			padding:10px 0; 
            width: 100%;
		}

		.container-child-right {
			padding:20px; 
            width: 100%;
            display:flex; 
        justify-content: center; 
        align-items:center ;
            border-radius: 15px;
            overflow:hidden; 
		}

		.input-field {
			display: block;
            width:100%; 
            padding:0 2px; 
            display:flex; 
            justify-content: space-around;
            align-items: center;
		}

		.label {
			margin-left:.25rem; 
            text-align: center;
            padding-bottom: 10px;
            background-color: white;
            margin-right:1rem; 
		}
        
		.buttonholder{
			display:flex; 
        justify-content: center; 
        align-items:center ;
		}
		.forgot-pass {
			transform: none;
		}

	}
</style>
<div class="container">
	<div class="container-child-left">
		<div style="text-align: center;">
			<span style="font-size: 24px;font-weight: 300;background: linear-gradient(to right,orange, rgb(241, 95, 222),white);-webkit-background-clip: text;background-clip:transparent;
                -webkit-text-fill-color: transparent;"><b>Myboloo</b></span><br><br>
			<span style="font-size: 28px;color:white;font-weight: 300;letter-spacing: 1px;line-height: 30px;">Don't have
				an<br>account?</span><br>
			<a href="{% url 'register' %}" style="text-decoration: none;"><button class="btn btn-primary"
					style="background: white;color:rgb(63, 63, 156);border-radius: 20px;width:140px;font-weight: 400;margin-top: 30px;">Sign
					Up</button></a>
		</div>
	</div>

	<!--------------Right Part---------------->
	<div class="container-child-right">
		<div class="login-contents">
			<p>Enter your email address below, and we'll email instructions for setting a new
				password.</p>
			<form method="POST">
				{% csrf_token %}
				<div class="mb-3 input-field" style="margin-top: 30px;">
					<div class="label">
						<div>Email</div>
					</div>
					<div>{{ form.email |add_class:'input-username-password' }}</div>
				</div>
				<br>
				<div class="buttonholder"><button class="btn btn-primary" type="submit">Reset Password</button></div>
			</form>
		</div>
	</div>
</div>
{% endblock %}