{% extends 'base/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}

<style>
    body {
        background: linear-gradient(to right, rgb(135, 78, 209), rgb(95, 46, 185), rgb(50, 45, 112));
        display:flex; 
        align-items: center;
        justify-content: center;
        min-width: 100vw; 
        min-height:100vh; 
        overflow-x:hidden; 
     }

    .container {
        padding: 0;
        display: flex;
        border-radius: 15px;
        margin-top: 80px;
        margin-bottom: 80px;
        width: 850px;
        height: 430px;
        background: url("../media/images/darkBlue3.jpg");

    }

    .container-child-left {
        background: transparent;
        width: 42%;
    }


    .container-child-right {
        background-color: white;
        width: 58%;
        border-radius: 0 15px 15px 0;
    }

    .login-contents {
        margin-left: 50px;
        margin-top: 70px;
        margin-right: 90px;
    }

    #heading {
        font-size: 24px;
    }

    .label {
        background: rgb(221, 221, 221);
        width: 85px;
        text-align: center;
        border-radius: 5px 0 0 5px;
        margin: 0;
        padding: 0;
    }

    .btn {
        width: 150px;
        margin-top: 10px;
        font-family: Arial, Helvetica, sans-serif;
        letter-spacing: 0.5px;
        background-color: rgb(95, 95, 202);
    }

    .form-control {
        border-radius: 0 5px 5px 0;
        width: 270px
    }

    .input-username-password {
        height: 38px;
        width: 250px;
        border-radius: 0 5px 5px 0;
        border: 1px solid rgb(221, 221, 221);
        padding-left: 10px;
        outline: none;
    }

    .input-field {
        display: flex;
    }

    .forgot-pass {
        transform: translate(80px, 16px);
    }

    @media only screen and (max-width: 760px) {
        .container {
            height: 500px;
            width: 80%;
        }

        .container-child-left {
            width: 0%;
        }

        .container-child-right {
            width: 100%;
            border-radius: 15px;
        }

        .input-field {
            display: block;
        }

        .label {
            text-align: left;
            padding-bottom: 10px;
            background-color: white;
        }

        .forgot-pass {
            transform: none;
        }

    }
</style>

<div class="container">

    <div class="container-child-left">
        <div style="text-align: center;margin-top: 120px;">
            <span style="font-size: 24px;font-weight: 300;background: linear-gradient(to right,orange, rgb(241, 95, 222),white);-webkit-background-clip: text;background-clip:transparent;
                -webkit-text-fill-color: transparent;"><b>Myboloo</b></span><br><br>
            <span style="font-size: 28px;color:white;font-weight: 300;letter-spacing: 1px;line-height: 30px;">Don't have
                an<br>account?</span><br>
            <a href="{% url 'register' %}"><button class="btn btn-primary"
                    style="background: white;color:rgb(63, 63, 156);border-radius: 20px;width:140px;font-weight: 400;margin-top: 30px;">Sign
                    Up</button></a>
        </div>
    </div>

    <!--------------Right Part---------------->
    <div class="container-child-right">
        <div class="login-contents">
            <span id="heading">Verify your email</span>
            <div style = "margin-top:40px">
                Verify your email address by clicking on the link which has been sent to your registered Email ID. 
            </div>
        </div>
    </div>
</div>
{% endblock %}