{% extends 'base/base.html' %}

{% block content %}
<style>
    ul {
        list-style: none;
    }

    li {
        display: inline;
    }
    iframe {
        overflow: hidden;
    }
</style>

<div class="container">
    {{ user.username }}
    <a href="{% url 'logout' %}">Logout</a>
    <div>{{ question.title }}</div>
    <div>{{ question.classs }}</div>
    <div class="row">
        <div class="col-8" style="overflow-x: hidden;">
            <embed scrolling="no" frameborder="0"
                src="../media/{{ question.paper_file }}#scrollbar=0&toolbar=0&navpanes=0&view=FitH" width="110%"
                height="500px" style="transform: translate(-25px,-5px)"></embed>
        </div>
        <div class="col-4">
            <form method="POST">
                {% csrf_token %}
                {{form}}
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>

</div>

{% endblock %}