<footer class="bd-footer py-5 mt-5 bg-light">
    <div class="container py-5">
      <div class="row">
        <div class="col-lg-3 mb-3"> <a class="d-inline-flex align-items-center mb-2 link-dark text-decoration-none"
            href="/" aria-label="Bootstrap"> 
            <title><span style="font-family: cursive;font-size: 22px;">Myboloo</span></title>
            <span style="font-family: cursive;font-size: 27px;">Myboloo</span></span>
          </a>
          
        </div>
        <div class="col-6 col-lg-3 offset-lg-1 mb-3">
          <h5>Phone Number</h5>
          <ul class="list-unstyled">
            <li class="mb-2"><a>(+91) 7001903146</a></li>
            <li class="mb-2"><a>(+91) 9007013485</a></li>
            <li class="mb-2"><a></a></li>
          </ul>
          <h5>Email</h5>
          <ul class="list-unstyled">
            <li class="mb-2"><a>ankit11hab@gmail.com</a></li>
          </ul>
        </div>
        <div class="col-6 col-lg-3 mb-3">
          <h5>Location</h5>
          <ul class="list-unstyled">
            <li class="mb-2"><a>North Habra Badamtala,</a></li>
            <li class="mb-2"><a>P.O. Road Habra, </a></li>
            <li class="mb-2"><a>North 24 Parganas,</a></li>
            <li class="mb-2"><a>743263</a></li>
          </ul> <br>
          <!-- <h5>Email</h5> <ul class="list-unstyled"> <li class="mb-2"><a href="/docs/5.0/getting-started/">contact@softechinfo.online</a></li> </ul> -->
        </div>
        <div class="col-6 col-lg-2 mb-3">
          <h5>Links</h5>
          <ul class="list-unstyled">
            <li class="mb-2"><a style = "color:rgb(41, 41, 41);text-decoration: none;" href="{% url 'home' %}">Dashboard</a></li>
            <li class="mb-2"><a style = "color:rgb(41, 41, 41);text-decoration: none;" href="{% url 'pending-questions' %}">Pending assignments</a></li>
            <li class="mb-2"><a style = "color:rgb(41, 41, 41);text-decoration: none;" href="{% url 'submitted-questions' %}">Submitted assignments</a></li>
            <li class="mb-2"><a style = "color:rgb(41, 41, 41);text-decoration: none;" href="{% url 'logout' %}" target="_blank">Logout</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>