{% extends 'base/base.html' %}

{% block content %}
{% include 'base/navbar.html' %}

<br>

<div class="container">
    
    <div class="card mb-4" id="performance">
        <div class="card-header" style="background-color: white;">
            <h5>Daily Submissions</h5>
        </div>
        <div class="card-body">
            <canvas id="myChart" style="width:100%;height:400px;"></canvas>
        </div>
    </div>
    
    <div class="card mb-4" id="performance">
        <div class="card-header" style="background-color: white;">
            <h5>Performance</h5>
        </div>
        <div class="card-body">
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <b>Name</b>: {{ profile.first_name }} {{ profile.last_name }}<br>
            <b>Number of submissions</b>: {{ count }}<br><br>
        </div>
    </div>

    <div class="card mb-4" id="pending">
        <div class="card-header" style="background-color: white;">
            <h5>Pending Assignments</h5>
        </div>
        <div class="card-body">
            {% for pendquestion in pending %}
            {% if pendquestion.question.classs == profile.classs %}
                    {% if pendquestion.question.started and not pendquestion.question.ended %}
                    <div class="card shadow-sm rounded mb-4" style="background:#f5f7fa; border:none">
                        <div class="card-body">
                            <h5 class="card-title">{{ pendquestion.question.title }}</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <div style="float: right;"><a href="{% url 'question-detail' pendquestion.question.id %}"
                            class="btn btn-primary">Attempt</a></div>
                        </div>
                    </div>
                    {% elif not pendquestion.question.started %}
                    <div class="card shadow-sm rounded mb-4" style="background:#f5f7fa; border:none">
                        <div class="card-body">
                            <h5 class="card-title">{{ pendquestion.question.title }}</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <div style="float: right;"><a href="#"
                        class="btn btn-primary disabled">Attempt at {{ pendquestion.question.start_time }}</a></div>
                    </div>
                </div>
                    {% endif %}
            {% endif %}
            {% endfor %}
            <!-- <ul>
            {% for pendquestion in pending %}
            {% if pendquestion.question.classs == profile.classs %}
            <li><a href="{% url 'question-detail' pendquestion.question.id %}">{{ pendquestion.question.title }}</a>
                {{ pendquestion.question.classs }}</li>
            {% endif %}
            {% endfor %}
        </ul> -->
        </div>
    </div>

    <div class="card" id="completed">
        <div class="card-header" style="background-color: white;">
            <h5>Completed Assignments</h5>
        </div>
        <div class="card-body">

            {% for pendquestion in pending %}
            {% if pendquestion.question.classs == profile.classs %} 
                {% if pendquestion.question.ended %}
                   <div class="card shadow-sm rounded mb-4" style="background:#f5f7fa; border:none">
                        <div class="card-body">
                    <h5 class="card-title">{{ pendquestion.question.title }}</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <div style="float: right;"><a href="#"
                        class="btn btn-primary disabled">Expired at {{ pendquestion.question.end_time }}</a></div>
                    </div>
                 </div>
                 {% endif %}
               
            {% endif %}
            {% endfor %}

            {% for subquestion in submissions %}
            {% if subquestion.question.classs == profile.classs %}
            <div class="card shadow-sm  mb-4" style="background:#f5f7fa; border:none">
                <div class="card-body">
                    <h5 class="card-title">{{ subquestion.question.title }}</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <div style="float: right;"><a href="{% url 'question-detail' subquestion.question.id %}"
                            class="btn btn-primary">View result</a></div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
            <!-- <ul>
            {% for subquestion in submissions %}
            {% if subquestion.question.classs == profile.classs %}
            <li><a href="{% url 'question-detail' subquestion.question.id %}">{{ subquestion.question.title }}</a>
                {{ subquestion.marks_obtd }}/{{ subquestion.question.full_marks }}</li>
            {% endif %}
            {% endfor %}
        </ul> -->
        </div>
    </div>
</div>
<script>
    const data = {
            labels: [1,2,3,4,5],
            datasets: [{
                label: 'Daily Submissions',
                backgroundColor: 'blue',
                borderColor: 'blue',
                borderWidth: "5",
                data: [{{submission5}}, {{ submission4 }}, {{ submission3 }}, {{ submission2 }}, {{ submission1 }}, 25],
            }]
        };
    new Chart("myChart", {
        type: "line",
        data: data,
        options:  {
            type: 'line',
            data,
            options: {
                maintainAspectRatio: true,
                scales: {
                    x: {
                        
                        grid: {
                            color: "rgb(173, 173, 173)",
                            tickColor: 'white',

                        }
                    },
                    y: {
                        grid: {
                            color: "rgb(173, 173, 173)",
                            tickColor: 'white',
                        },
                        max: 30,
                        ticks: {
                            // forces step size to be 50 units
                            stepSize: 10
                        }
                    },
                },
                plugins: {
                    legend: {
                        display: false,
                        labels: {
                            // This more specific font property overrides the global property
                            color: "white",
                            font: {
                                size: 10 // 'size' now within object 'font {}'
                            }
                        }
                    }
                }
            }
    }});
    
</script>
{% endblock %}