{% extends 'base/base.html' %}
{% block content %}
    <a href = "{% url 'logout' %}">Logout</a><br>
    {{ user.username }}<br>
    {{ profile.first_name }} {{ profile.last_name }}<br>
    
    <h4>Questions</h4>
    <ul>
    {% for question in questions %}
        {% if question.classs == profile.classs %}
            <li><a href = "{% url 'question-detail' question.id %}">{{ question.title }}</a>
            {{ question.classs }}</li>
        {% endif %}
    {% endfor %}
    </ul>
{% endblock %}
