{% for message in messages %}
<div class="container-fluid p-0">
    <div class="alert {{ message.tags }} alert-dismissible" role="alert">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </button>
        {{ message }}
    </div>
</div>
{% endfor %}
<!-- Errors in the form -->
{% if form.non_field_errors %}
<div class="container-fluid p-0">
    <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </button>
        {{ form.non_field_errors }}
    </div>
</div>
{% endif %}

{% for field in form %}
{% if field.errors %}
{% for error in field.errors %}
<div class="container-fluid p-0">
    <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </button>
        {{ error }}
    </div>
</div>
{% endfor %}
</ul>
{% endif %}
{% endfor %}