
<div>
    <nav class="navbar navbar-expand-md navbar-dark" style="
        background-color: #1e0d47;
        opacity: 0.9;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1001;
    ">
        <div class="container-fluid">
            <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'home' %}" >Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'pending-questions' %}" >Pending</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'submitted-questions' %}" >Submitted</a>
                    </li>

                </ul>
            </div>
            <div class="mx-auto order-0">
                <a class="navbar-brand mx-auto" to="/">Myboloo</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".dual-collapse2">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link disabled" to="#">{{ user.username }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" to="{% url 'logout' %}">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>