{% extends 'base/base.html' %}
{% block content %}
{% include 'base/navbar.html' %}
<div class="container">
    <div><b>Question title: </b>{{ question.title }}</div>
    {% if submission.submitted %}
    <b>Marks obtained: </b>{{submission.marks_obtd}}<br><br>
    <h4>Current Standings</h4>
    <table>
        <tr>
            <th>Username</th>
            <th>Marks</th>
        </tr>
        {% for curr_submission in all_submissions %}
        <tr>
            <td>{{ curr_submission.user.username }}</td>
            <td>{{ curr_submission.marks_obtd }}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <div><b>Start time: </b>{{ question.start_time }}</div>
    <div><b>End time: </b>{{ question.end_time }}</div>
    <br>
    <a href="{% url 'answer-form' question.id %}">Attempt</a>
    {% endif %}

</div>
{% endblock %}