{% extends 'base/base.html' %}
{% block content %}
{% include 'base/navbar.html' %}

<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">

<style>
    body {
        width: 100%;
        overflow-x: hidden;
    }

    #title {
        width: 100%;
        text-align: center;
        padding: 20px;
    }

    .title-first {
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
    }

    .title-second {
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 2rem;
    }

    .mark {
        font-weight: bold;
        font-size: 1.5rem;
        float: left;
        background: white;
        text-align: center;
        width: 33%;
    }

    .round {
        display: table;
        margin: 0 auto;
        padding: 15px;
        background: rgb(244, 244, 255);
        height: 70px;
        width: 70px;
        border-radius: 35px;
        text-align: center;
    }
    #questions,#marks,#total{
        width:max-content; 
    }
    #questions:after {
        content: "NUMBER OF QUESTIONS";
        font-size: 0.8rem;
        background-color: rgb(244, 244, 255);
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 20px;
    }

    #marks:after {
        content: "MARKS PER QUESTION";
        font-size: 0.8rem;
        background-color: rgb(244, 244, 255);
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 20px;
    }

    #total:after {
        content: "TOTAL MARKS";
        font-size:0.8rem;
        background-color: rgb(244, 244, 255);
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 20px;
    }

    #marks-section {
        display:flex; 
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
    }

    #time-section {
        width: 100%;
        font-size: 1.2rem;
    }

    .time {
        float: left;
        background: white;
        text-align: center;
        width: 50%;
    }

    .time-1 {
        display: table;
        margin: 0 auto;
        padding: 15px;
        background:rgb(244, 244, 255);
        border-radius: 15px;
        text-align: center;
    }

    #attempt-btn {
        display: block;
        width: 40%;
        color:white;
        background: #0d6efd;
        text-align: center;
        text-decoration: none;
        padding: 10px;
        border-radius: 10px;
        margin-left: auto;
        margin-right: auto;
        font-size: 1.3rem;
    }


    #start-time:before {
        content: "FROM";
        font-size: 0.7rem;
        font-weight: bold;
        background-color: rgb(244, 244, 255);
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 20px;
        margin-bottom: 2px;
    }

    #end-time:before{
        content: "TO";
        font-size: 0.7rem;
        font-weight: bold;
        background-color: rgb(244, 244, 255);
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 20px;
    }
</style>



<div class="container">
    <div id="title"> <span class="title-first">TITLE</span><br><span class="title-second">{{ question.title }}</span>
    </div>
    {% if submission.submitted %}
    <br>
    <!-- <div style = "position: relative;text-align: center;">
        <div id = "marks-display" style = "font-size: 28px;font-weight: 500;">00</div>
        <canvas id="myChart" width="200" height="200"></canvas>
    </div>
    <div style = "margin-top: 200px;"> </div> -->
    <div class = "row">
        <div class = "col-6" style = "padding-right: 50px;">
            <div style = "float: right;">
                <canvas id="myChart1" width="200" height="300"></canvas>
            </div>
            
            <div class = "absolute" style = "float: right;margin-top:140px;transform: translate(136px,0);"><h3 style = "color:rgb(85, 85, 85)">{{submission.marks_obtd}}/{{submission.question.full_marks}}</h3></div>
        </div>
        <div class = "col-6" style = "padding-left: 60px;"><canvas id="myChart" width="300" height="300"></canvas></div>
    </div>
    <center><h3 style = "margin-top:55px">Current Standings</h3>
    <table style = "margin-top:60px;width:700px" class="table">
        <thead>
            <tr>
                <th scope="col">Rank</th>
                <th scope="col">Student name</th>
                <th scope="col">Correct questions</th>
                <th scope="col">Marks obtained</th>
            </tr>
        </thead>
        <tbody>
            {% for curr_submission in all_submissions %}
            
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ curr_submission.user.first_name }} {{ curr_submission.user.last_name }}</td>
                <td>{{ curr_submission.number_of_correct }}</td>
                <td>{{ curr_submission.marks_obtd }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</center>
<script>
const ctx = document.getElementById('myChart').getContext('2d');
const myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ['Highest', 'Average', 'Your marks'],
        datasets: [{
            label: '# of Votes',
            data: [{{highest}}, {{average}}, {{submission.marks_obtd}}],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
            ],
            borderWidth: 1
        }]
    },
    options: {
        responsive: false,
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});
</script>

    {% else %}


    <div id="marks-section">
        <div id="questions" class="mark"><span class="round">{{ question.number_of_question }}</span></div>
        <div id="marks" class="mark"><span class="round">{{ question.marks_per_question }}</span></div>
        <div id="total" class="mark"><span class="round">{{question.full_marks}}</span></div>
    </div>

    <br><br><br><br><br><br>

    <div id="time-section">
        <div id="start-time" class="time"><span class="time-1"><b>{{ question.start_time.time }}</b></span></div>
        <div id="end-time" class="time"><span class="time-1"><b>{{ question.end_time.time }}</b></span></div>
    </div>

    <br><br><br><br><br><br>

    <a id="attempt-btn" class="btn btn-primary" href="{% url 'environment-check' question.id %}">Attempt</a>
    <br><br><br><br><br><br>
    {% endif %}

</div>
{% include 'base/footer.html' %}

<script>
    var tasksCompletedChart = new Chart(document.getElementById('myChart1').getContext('2d'), {
      type: 'doughnut',
      data: {
        datasets: [{
          data: [{{submission.marks_obtd}},{{submission.question.full_marks}}-{{submission.marks_obtd}}],
          backgroundColor: [
            'rgba(0, 201, 92, 0.3)',
            'rgba(243, 246, 248, 0.3)'
          ],
          borderColor: [
            'rgba(0, 201, 92, 1)',
            'rgba(243, 246, 248, 1)'
            ],
            borderWidth: 1,
          cutout: 62,
        }]
      },
      options: {
        responsive: false,
        tooltips: {
          enabled: false
        }
      }
    });
    </script>
{% endblock %}